@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --light-gray: #f7f7f7;
    --gray: #e2e2e2;
    --dark-gray: #888888;
    --darker-gray: #666666;
    --main-green: #5ee85b;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-md: 18px;
    --text-xl: 40px;
    --text-2xl: 64px;
    --inline-main-padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 78px;
    background-color: var(--light-gray);
    height: 100dvh;
    padding-top: 16px;
}

.main {
    background-color: white;
}

.logo {
    width: 42px;
}

.circular-btn {
    height: 48px;
    width: 48px;
    min-width: 48px;
    border-radius: 9999px;
    display: grid;
    place-content: center;
}

.navbar .circular-btn {
    background-color: white;
    color: var(--dark-gray);
}

.circular-btn--active {
    background-color: black;
    width: 48px;
    height: 48px;
    color: white;
    border-radius: 100%;
    display: grid;
    place-content: center;
}

.navbar .group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navbar .top-group {
    margin-top: 32px;
}

.navbar .mid-group {
    margin-top: 20px;
}

.navbar .bottom-group {
    margin-top: auto;
    margin-bottom: 42px;
}

.main-header {
    margin-top: 20px;
    padding-inline: var(--inline-main-padding);
    display: flex;
    align-items: center;
    gap: 8px;
}

.rounded-full-container {
    max-width: 255px;
    padding-block: 6px;
    padding-inline: 6px 16px;
    border-radius: 9999px;
    background: white;
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid var(--gray);
}

.search-input {
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 50px;
    width: 100%;
    color: var(--darker-gray);
    overflow-y: hidden;
}

.search-input::placeholder {
    color: var(--darker-gray);
    font-size: var(--text-sm);
    overflow-y: hidden;
}

form:invalid .search-button {
    cursor: default;
    pointer-events: none;
}

.medium-badge {
    background-color: var(--dark-gray);
    color: white;
    height: 30px;
    min-width: 30px;
    border-radius: 9999px;
    display: grid;
    place-content: center;
    font-weight: 500;
    padding-bottom: 2px;
}

.avatar {
    height: 62px;
    width: 62px;
    border-radius: 9999px;
    background-color: gold;
    display: grid;
    place-content: center;
    font-weight: 500;
    padding-bottom: 2px;
    font-size: 24px;
    color: white;
}

.hero {
    padding-inline: var(--inline-main-padding);
    display: flex;
    align-items: center;
    margin-block: 18px;
}

.hero-title {
    font-size: var(--text-xl);
    font-weight: 400;
    line-height: 52px;
    margin-left: 20px;
}
